# Dependencies
node_modules/

# Production Build
lib/

# Testing
coverage/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.runtimeconfig.json

# Environment Variables
.env
.env.local
.env.*.local
.secret.local

# Operating System
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor Directories (Optional)
.vscode/
.idea/
*.swp
*.swo

# Firebase Emulators
firebase-emulators-data/
firestore-debug.log
ui-debug.log

# TypeScript
*.tsbuildinfo

# Temporary
tmp/
